<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
<Appenders>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout
                pattern="%style{%d{ISO8601}}{black} level=%highlight{%-5level }thread=[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow} %msg%n%throwable" />
    </Console>

    <RollingFile name="RollingFile"
                 fileName="target/logs/app.log"
                 filePattern="target/logs/$${date:yyyy-MM}/app-%d{-dd-MMMM-yyyy}-%i.log.gz">
        <PatternLayout>
            <pattern>%d %p %C{1.} [%t] %MDC %m%n</pattern>
        </PatternLayout>
        <Policies>
            <!-- rollover on startup, daily and when the file reaches
                10 MegaBytes -->
            <OnStartupTriggeringPolicy />
            <SizeBasedTriggeringPolicy
                    size="10 MB" />
            <TimeBasedTriggeringPolicy />
        </Policies>
    </RollingFile>
</Appenders>

<Loggers>
    <!-- LOG everything at INFO level -->
    <Root level="info">
        <AppenderRef ref="Console" />
        <AppenderRef ref="RollingFile" />
    </Root>
    <Logger name="com.technochord" level="debug"></Logger>
</Loggers>

</Configuration>